@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('https://img.freepik.com/foto-gratis/retrato-abstracto-ojo-elegancia-mujeres-jovenes-generado-ai_188544-9712.jpg'); /* Reemplaza con la ruta de tu imagen */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: white;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.5); 
        padding: 100px 0;
    }

    .main-heading {
        font-size: 4rem;
        font-weight: 700;
    }

    .subtext {
        font-size: 1.5rem;
        color: #dcdcdc;
    }

    .btn-custom {
        background-color: #ff6f61;
        border: none;
        padding: 15px 30px;
        font-size: 1.2rem;
        color: white;
        border-radius: 30px;
        margin-top: 20px;
    }

        .btn-custom:hover {
            background-color: #e55b50;
        }
</style>

<div class="container text-center overlay">
    <h1 class="main-heading">Bienvenido a Unite Store</h1>
    <p class="subtext mt-3">Tienda virtual de ropa</p>
</div>
